<%- include("../partials/header") %>
     <div class="row">
          <h1 style="text-align:center;">EDIT <%= campground.title %></h1>
         <div style="width :30%;margin:30px auto">
              <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                 <div class="form-group"> 
                    <input class="form-control" type="text" name="wrap[title]" value="<%= campground.title %>">
                 </div>
                 <div class="form-group"> 
                  <input class="form-control" type="number" name="wrap[price]" value="<%= campground.price %>">
               </div>
                 <div class="form-group"> 
                  <input class="form-control" type="text" name="wrap[image]" value="<%= campground.image %>"> 
                 </div>
                 <div class="form-group"> 
                  <input class="form-control" type="text" name="wrap[description]" value="<%= campground.description %>">
                 </div>
                 
                 <div class="form-group">
                    <button class ="btn btn-lg btn-info btn-block">SUBMIT</button>
                 </div>
              </form>
<a href="/campgrounds">GO Back</a>
         </div>
     </div>
<%- include("../partials/footer") %> 