<%- include("../partials/header") %>   
<!--  here ../ works like cd.. -->


    <header class="jumbotron">
         <h1>WELCOME TO YELPCAMP</h1>
         <p> View our hand-picked camps around the globe</p>  
         <p>
             <a class="btn btn-primary btn-lg" href="/campgrounds/new">ADD NEW CAMPGROUNDS HERE</a>
         </p>  
    </header>

     <div class="row text-center " style="display :flex;flex-wrap: wrap;">
        <% anyname.forEach(function(element){ %>
             <div class="col-md-3 col-sm-6">
                 <div class="thumbnail">
                    <img src="<%= element.image %>">
                 </div >
                 <div class="caption">
                    <h4><%= element.title %> </h4> 
                 </div>
                      <p>
                         <a href ="/campgrounds/<%= element._id %>" class="btn btn-primary">More Info</a>
                      </p>             
             </div> 
        <%});%>
     </div>

<%- include("../partials/footer") %> 